html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

* {
    color: transparent;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    text-overflow: clip;
}

table {
    border-spacing: 0;
    border: 1px solid black;
}

.circle {
    color: rgba(0, 0, 0, 0);
    background-image: url('./circle.png');
}
.wall{
    background-color: brown;
}

.path{
    background-color: gray;
}
.color0 {
    filter: invert(26%) sepia(82%) saturate(7328%) hue-rotate(355deg) brightness(102%) contrast(125%);
}

.color0gray {
    filter: invert(0%) sepia(0%) saturate(7469%) hue-rotate(217deg) brightness(96%) contrast(108%)
}

.color1 {
    filter: invert(75%) sepia(43%) saturate(5376%) hue-rotate(74deg) brightness(103%) contrast(134%);
}

.color1gray {
    filter: invert(0%) sepia(2%) saturate(2702%) hue-rotate(327deg) brightness(98%) contrast(73%);
}

.color2 {
    filter: invert(12%) sepia(77%) saturate(3939%) hue-rotate(240deg) brightness(127%) contrast(170%);
}

.color2gray {
    filter: invert(24%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(98%) contrast(89%);
}

.color3 {
    filter: invert(96%) sepia(98%) saturate(7500%) hue-rotate(356deg) brightness(107%) contrast(102%);
}

.color3gray {
    filter: invert(43%) sepia(3%) saturate(0%) hue-rotate(142deg) brightness(86%) contrast(77%);
}

.color4 {
    filter: invert(82%) sepia(63%) saturate(2927%) hue-rotate(132deg) brightness(109%) contrast(108%);
}

.color4gray {
    filter: invert(59%) sepia(0%) saturate(676%) hue-rotate(242deg) brightness(91%) contrast(82%);
}

.color5 {
    filter: invert(18%) sepia(91%) saturate(3127%) hue-rotate(291deg) brightness(116%) contrast(134%);
}

.color5gray {
    filter: invert(89%) sepia(0%) saturate(1247%) hue-rotate(142deg) brightness(77%) contrast(88%);
}

.color6 {
    filter: invert(39%) sepia(61%) saturate(467%) hue-rotate(111deg) brightness(95%) contrast(90%);
}

.color6gray {
    filter: invert(98%) sepia(8%) saturate(0%) hue-rotate(153deg) brightness(81%) contrast(98%);
}

.selected {
    background-color: gray;
}

.rainbow:hover {
    animation: rainbow .5s infinite;
}

@keyframes rainbow {
    0% {background-color: #ff0000;}
    10% {background-color: #ff8000;}
    20% {background-color: #ffff00;}
    30% {background-color: #80ff00;}
    40% {background-color: #00ff00;}
    50% {background-color: #00ff80;}
    60% {background-color: #00ffff;}
    70% {background-color: #0080ff;}
    80% {background-color: #0000ff;}
    90% {background-color: #8000ff;}
    100% {background-color: #ff0080;}
}
